{
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "parser": "typescript",
  "printWidth": 185,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
